<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# ヘッダー %>
  <header style="padding: 10px; border-bottom: 1px solid #ccc; margin-bottom: 20px;">
    <h1 style="margin-top: 0; margin-bottom: 10px;">
      <%= link_to "Kinpedia (Sanriko)", root_path, style: "text-decoration: none; color: #333;" %>
    </h1>
    <% if user_signed_in? %>
      <strong><%= current_user.email %></strong> さん
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, style: "margin-left: 10px; color: red;" %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, style: "margin-right: 10px;" %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    
    <hr>
    <%# メニューへのリンク（消すかも） %>
    <%= link_to "トップページ", root_path %> | 
    <%= link_to "質問コーナー", questions_path %>
  </header>
  <%# yieldの中にはindex.html.erbやshow.html.erbが埋め込まれる %>
    <%= yield %>
  </body>
</html>
