<h1>Kinpedia (Sanriko)</h1>

<div class="header-actions">
   <%= link_to '新規投稿', '/posts/new' %>
   <%= link_to 'ログアウト', "#" %>
</div>

<div class="main-title-container">
  <h2>投稿一覧</h2>
</div>

<%# ジャンル別と投稿一覧 %>
<div class="main-content-wrapper">
  
  <div class="sidebar-left">
    <div class="genre-menu">
      <h3>ジャンル別</h3>
      <ul>
          <li><%= link_to "1号館", "#" %></li>
          <li><%= link_to "2号館", "#" %></li>
          <li><%= link_to "3号館", "#" %></li>
          <li><%= link_to "図書館", "#" %></li>
          <li><%= link_to "食堂", "#" %></li>
          <li><%= link_to "トイレ", "#" %></li>
          <li><%= link_to "その他", "#" %></li>
      </ul>
    </div>
  </div>

  <div class="content-area">
    
    <%# 投稿ごとに線で区切る %>
    <div class="post-list-section">
      <h3>1号館 トイレの場所</h3>
      <div class="placeholder-box">
          <p>ここに投稿内容が書かれます。<br>写真も表示できるようにしたい。<br></p>
        </div>
    </div>

    <div class="post-list-section">
      <h3>喫煙所の場所一覧</h3>
      <div class="placeholder-box">
        <p>この投稿たちは仮で表示させてるだけです。</p>
        </div>
    </div>
  </div>

</div>