<h1>Kinpedia (Sanriko)</h1>

<div class="header-actions">
   <%= link_to '新規投稿', new_post_path %>
   <%= link_to 'ログアウト', "#" %>
</div>

<div class="main-title-container">
  <h2>投稿一覧</h2>
</div>

<div class="main-content-wrapper">
  
  <div class="sidebar-left">
    <div class="genre-menu">
      <h3>ジャンル別</h3>
      <ul>
          <li><%= link_to "1号館", "#" %></li>
          <li><%= link_to "2号館", "#" %></li>
          <li><%= link_to "3号館", "#" %></li>
          <li><%= link_to "図書館", "#" %></li>
          <li><%= link_to "食堂", "#" %></li>
          <li><%= link_to "トイレ", "#" %></li>
          <li><%= link_to "飲食店", "#" %></li>
          <li><%= link_to "その他", "#" %></li>
      </ul>
    </div>
  </div>

  <div class="content-area">

      <% @posts.each do |post| %>
      
      <%# 投稿ごとに線で区切る %>
      <div class="post-list-section">
        <h3>
          <%= link_to (post.title.presence || "（無題）"), post %>
        </h3> <%# 詳細画面リンク(タイトルがない場合、showアクションが実行不可になり削除できないため、「無題」と表示) %>
        
        <%# 画像を一枚だけ表示（サムネ） %>
        <% if post.images.attached? && post.images.first %>
        <%= image_tag post.images.first, style: "max-width: 100px; height: auto; float: left; margin-right: 10px;" %>
        <% end %>
        
        <%# truncate （本文を省略して表示） %>
        <p><%= truncate(post.body, length: 100) %></p>
        <p class="post-date">投稿日: <%= post.created_at.strftime("%Y年%m月%d日") %></p>
        <div style="clear: both;"></div>
      </div>
        <% end %>
  </div>
  </div>